In [242]:
import pandas as pd

In [243]:
df = pd.read_csv('penguins_lter.csv')
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

## Q1: Mean, Median, Mode — Find the mean, median, and mode for Body Mass (g) for all penguins.

In [245]:
print(df['Body Mass (g)'].mean().round(2))
print(df['Body Mass (g)'].median())
print(df['Body Mass (g)'].mode()[0])

4201.75
4050.0
3800.0

## Q2: Grouped Mean — Calculate the average Body Mass (g) for each species.

In [247]:
grouped_mean = df.groupby('Species')['Body Mass (g)'].mean().reset_index(name = 'avg_body_mass (g)')
grouped_mean

                                     Species  avg_body_mass (g)
0        Adelie Penguin (Pygoscelis adeliae)        3700.662252
1  Chinstrap penguin (Pygoscelis antarctica)        3733.088235
2          Gentoo penguin (Pygoscelis papua)        5076.016260

## Q3: Measures of Dispersion — Calculate the variance and standard deviation of Flipper Length (mm).

In [249]:
print(round(df['Flipper Length (mm)'].var(),2))
print(round(df['Flipper Length (mm)'].std(),3))

197.73
14.062

## Q4: Summary Table — Create a summary (mean, median, min, max, std) for Body Mass (g) grouped by Island.

In [251]:
sum_table = df.groupby('Island').agg({'Body Mass (g)': ['mean', 'median', 'min', 'max', 'std']})
sum_table

          Body Mass (g)
                   mean  median     min     max         std
Island
Biscoe      4716.017964  4775.0  2850.0  6300.0  782.855743
Dream       3712.903226  3687.5  2700.0  4800.0  416.644112
Torgersen   3706.372549  3700.0  2900.0  4700.0  445.107940

## Q5: Skewness & Kurtosis — Compute skewness and kurtosis for Body Mass (g) and interpret whether the distribution is normal, skewed, or heavy/light-tailed.

In [253]:
print(f'Skewness: {round(df['Body Mass (g)'].skew(),3)}')
print(f'Kurtosis: {round(df['Body Mass (g)'].kurt(),3)}')

Skewness: 0.47
Kurtosis: -0.719

* Data is fairly symmetric with just a mild right skew.
* Distribution is flatter with fewer extreme outliers than a normal curve.

* Summary:
    - The dataset is fairly symmetric, has slightly more large values than small values, and is flatter than a normal distribution with fewer extreme outliers.

## Q6: One-Sample t-test — Test if the mean Flipper Length (mm) is significantly different from 200 mm.

* H0: The population mean flipper length is equal to 200 mm.
* H1: The population mean flipper length is not equal to 200 mm.

In [257]:
from scipy import stats

In [258]:
Flipper_length = df['Flipper Length (mm)'].dropna()

In [259]:
t_stat, p_val = stats.ttest_1samp(Flipper_length, 200)

print(f"T-statistic: {t_stat}")
print(f"P-value: {p_val}")

alpha = 0.05
if p_val < alpha:
    print("Reject H₀: The mean flipper length is significantly different from 200 mm.")
else:
    print("Fail to reject H₀: No significant difference from 200 mm.")

T-statistic: 1.2036300831163829
P-value: 0.22956747651054768
Fail to reject H₀: No significant difference from 200 mm.

## Q7: Two-Sample t-test — Compare Body Mass (g) between Male and Female penguins.

In [261]:
df1 = df[['Body Mass (g)', 'Sex']].dropna()

In [262]:
df1

     Body Mass (g)     Sex
0           3750.0    MALE
1           3800.0  FEMALE
2           3250.0  FEMALE
4           3450.0  FEMALE
5           3650.0    MALE
..             ...     ...
338         4925.0  FEMALE
340         4850.0  FEMALE
341         5750.0    MALE
342         5200.0  FEMALE
343         5400.0    MALE

[334 rows x 2 columns]

In [263]:
male_body_mass = df1[df1['Sex'] == 'MALE']['Body Mass (g)']
female_body_mass = df1[df1['Sex'] == 'FEMALE']['Body Mass (g)']

In [264]:
t_stat, p_val = stats.ttest_ind(male_body_mass, female_body_mass, equal_var=False)

print(f"T-statistic: {t_stat}")
print(f"P-value: {p_val}")

alpha = 0.05
if p_val < alpha:
    print("Reject H₀: Significant difference in body mass between male and female penguins.")
else:
    print("Fail to reject H₀: No significant difference in body mass between male and female penguins.")

T-statistic: 8.554537231165762
P-value: 4.793891255051457e-16
Reject H₀: Significant difference in body mass between male and female penguins.

## Q8: ANOVA — Check if mean Flipper Length (mm) differs significantly between different species.

* H₀: All species have the same mean flipper length.

* H₁: At least one species has a mean flipper length that differs.

In [267]:
df2 = df[['Species', 'Flipper Length (mm)']].dropna()

adelie  = df2[df2['Species'] == 'Adelie Penguin (Pygoscelis adeliae)']['Flipper Length (mm)']
chinstrap = df2[df2['Species'] == 'Chinstrap penguin (Pygoscelis antarctica)']['Flipper Length (mm)']
gentoo = df2[df2['Species'] == 'Gentoo penguin (Pygoscelis papua)']['Flipper Length (mm)']

f_stat, p_val = stats.f_oneway(adelie, chinstrap, gentoo)

print(f"F-statistic: {f_stat}")
print(f"P-value: {p_val}")


alpha = 0.05
if p_val < alpha:
    print("Reject H₀: Mean flipper length differs significantly between species.")
else:
    print("Fail to reject H₀: No significant difference in mean flipper length between species.")

F-statistic: 594.8016274385172
P-value: 1.3517103385730013e-111
Reject H₀: Mean flipper length differs significantly between species.

## Q9: Chi-Square Test — Test if Sex and Island are independent variables.

* H₀: Sex and Island are independent (no association).

* H₁: Sex and Island are dependent (there is an association).

In [270]:
from scipy.stats import chi2_contingency

In [271]:
df3 = df[['Sex', 'Island']].dropna()

df3 = df3[df3['Sex'] != '.']

In [273]:
contingency_table = pd.crosstab(df3['Sex'], df3['Island'])
contingency_table

Island  Biscoe  Dream  Torgersen
Sex
FEMALE      80     61         24
MALE        83     62         23

In [275]:
chi2, p_val, dof, expected = chi2_contingency(contingency_table)

print(f"Chi-square statistic: {chi2}")
print(f"Degrees of freedom: {dof}")
print(f"P-value: {p_val}")
print("Expected frequencies:\n", expected)

alpha = 0.05
if p_val < alpha:
    print("Reject H₀: Sex and Island are associated.")
else:
    print("Fail to reject H₀: No significant association between Sex and Island.")

Chi-square statistic: 0.05759904881286206
Degrees of freedom: 2
P-value: 0.971611229281065
Expected frequencies:
 [[80.76576577 60.94594595 23.28828829]
 [82.23423423 62.05405405 23.71171171]]
Fail to reject H₀: No significant association between Sex and Island.

## Q10: Correlation — Find the correlation coefficient between Flipper Length (mm) and Body Mass (g).

In [282]:
df4 = df[['Flipper Length (mm)', 'Body Mass (g)']].dropna()

corr_coef, p_value = stats.pearsonr(df4['Flipper Length (mm)'], df4['Body Mass (g)'])

print(f"Correlation Coefficient: {corr_coef}")
print(f"P-value: {p_value}")

if corr_coef > 0:
    direction = "positive"
elif corr_coef < 0:
    direction = "negative"
else:
    direction = "no"

print(f"The correlation is {direction} and {'strong' if abs(corr_coef) > 0.7 else 'moderate' if abs(corr_coef) > 0.4 else 'weak'}.")

Correlation Coefficient: 0.8712017673060116
P-value: 4.3706809629980454e-107
The correlation is positive and strong.