##### Dataset: "https://www.kaggle.com/datasets/mathurinache/world-happiness-report?select=2022.csv"

## Q1: Preview & Shape â€“ Display the first 10 rows and the total number of rows & columns.

In [232]:
import pandas as pd

In [233]:
df = pd.read_csv("2022.csv")
df.head(10)

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"
5,6,Luxembourg*,"7,404","7,501","7,307","2,042","2,209","1,155","0,790","0,700","0,120","0,388"
6,7,Sweden,"7,384","7,454","7,315","2,003","1,920","1,204","0,803","0,724","0,218","0,512"
7,8,Norway,"7,365","7,440","7,290","1,925","1,997","1,239","0,786","0,728","0,217","0,474"
8,9,Israel,"7,364","7,426","7,301","2,634","1,826","1,221","0,818","0,568","0,155","0,143"
9,10,New Zealand,"7,200","7,279","7,120","1,954","1,852","1,235","0,752","0,680","0,245","0,483"

In [234]:
df.shape

(147, 12)

## Q2: Column Info â€“ Show all column names, their data types, and count missing values.

In [236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 12 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   RANK                                        147 non-null    int64
 1   Country                                     147 non-null    object
 2   Happiness score                             146 non-null    object
 3   Whisker-high                                146 non-null    object
 4   Whisker-low                                 146 non-null    object
 5   Dystopia (1.83) + residual                  146 non-null    object
 6   Explained by: GDP per capita                146 non-null    object
 7   Explained by: Social support                146 non-null    object
 8   Explained by: Healthy life expectancy       146 non-null    object
 9   Explained by: Freedom to make life choices  146 non-null    object
 10  Explained by: Generosity                    146 non-null    object
 11  Explained by: Perceptions of corruption     146 non-null    object
dtypes: int64(1), object(11)
memory usage: 13.9+ KB

In [237]:
df.isnull().sum()

RANK                                          0
Country                                       0
Happiness score                               1
Whisker-high                                  1
Whisker-low                                   1
Dystopia (1.83) + residual                    1
Explained by: GDP per capita                  1
Explained by: Social support                  1
Explained by: Healthy life expectancy         1
Explained by: Freedom to make life choices    1
Explained by: Generosity                      1
Explained by: Perceptions of corruption       1
dtype: int64

In [238]:
df = df.dropna()

## Q3: Country Filter â€“ List all details for the country "India".

In [240]:
india_details = df[df['Country'] == 'India']
india_details

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
135,136,India,"3,777","3,828","3,726","0,795","1,167","0,376","0,471","0,647","0,198","0,123"

## Q4: Sorting â€“ Sort countries by Happiness score in descending order and show the top 5.

In [242]:
sorted_df = df.sort_values(by = 'Happiness score', ascending = False)
top_countries = sorted_df[['Country', 'Happiness score']].head()
top_countries

       Country Happiness score
0      Finland           7,821
1      Denmark           7,636
2      Iceland           7,557
3  Switzerland           7,512
4  Netherlands           7,415

## Q5: Top by GDP â€“ Find the top 5 countries by GDP per capita.

In [244]:
sorted_df_gdp = df.sort_values(by = 'Explained by: GDP per capita', ascending = False)
top_countries_by_gdp = sorted_df_gdp[['Country', 'Explained by: GDP per capita']].head()
top_countries_by_gdp

                 Country Explained by: GDP per capita
5            Luxembourg*                        2,209
26             Singapore                        2,149
12               Ireland                        2,129
3            Switzerland                        2,026
23  United Arab Emirates                        1,998

## Q6: Average Happiness â€“ Calculate the average Happiness score for all countries.

In [246]:
non_str_cols = [c for c in df.columns if c != 'Country']

for c in non_str_cols:
    df[c] = pd.to_numeric(df[c].astype(str).str.replace(',', ''))

In [247]:
avg_happiness_score = df.groupby('Country')['Happiness score'].mean().reset_index(name = 'avg_score')
avg_happiness_score

         Country  avg_score
0    Afghanistan     2404.0
1        Albania     5199.0
2        Algeria     5122.0
3      Argentina     5967.0
4        Armenia     5399.0
..           ...        ...
141    Venezuela     4925.0
142      Vietnam     5485.0
143       Yemen*     4197.0
144       Zambia     3760.0
145     Zimbabwe     2995.0

[146 rows x 2 columns]

## Q7: Top GDP Countries - Group data by the "Explained by: GDP per capita" value ranges (e.g., High, Medium, Low) and compute the average "Happiness score" for each range.

In [249]:
df['GDP_tier'] = pd.qcut(df['Explained by: GDP per capita'], q = 3, labels = ["Low", "Medium", "High"])

In [250]:
summary = df.groupby('GDP_tier').agg({'Happiness score': 'mean', 'Country': 'count'})
summary

C:\Users\Admin\AppData\Local\Temp\ipykernel_18308\3315742450.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  summary = df.groupby('GDP_tier').agg({'Happiness score': 'mean', 'Country': 'count'})

          Happiness score  Country
GDP_tier
Low           4672.816327       49
Medium        5398.583333       48
High          6586.163265       49

## Q8: Correlation â€“ Find the correlation between GDP per capita and Happiness score.

In [252]:
correlation = df['Explained by: GDP per capita'].corr(df['Happiness score'])
print(round(correlation,2))

0.76

## Q9: Top Country per Metric - For each metric column (e.g., "Explained by: Social support", "Explained by: Generosity"), find the country with the highest value for that metric.

In [254]:
metric_cols = [
    'Explained by: GDP per capita',
    'Explained by: Social support',
    'Explained by: Healthy life expectancy',
    'Explained by: Freedom to make life choices',
    'Explained by: Generosity',
    'Explained by: Perceptions of corruption'
]

In [255]:
top_countries_per_metric = {}

for col in metric_cols:
    max_idx = df[col].idxmax() 
    country = df.loc[max_idx, 'Country']
    value = df.loc[max_idx, col]
    top_countries_per_metric[col] = (country, value)

top_df = pd.DataFrame(top_countries_per_metric, index=['Country', 'Value']).T
print(top_df)

                                                              Country Value
Explained by: GDP per capita                              Luxembourg*  2209
Explained by: Social support                                  Iceland  1320
Explained by: Healthy life expectancy       Hong Kong S.A.R. of China   942
Explained by: Freedom to make life choices                   Cambodia   740
Explained by: Generosity                                    Indonesia   468
Explained by: Perceptions of corruption                     Singapore   587

## Q10: Happiness Rank Check - Verify if the "RANK" column is consistent with the ordering of "Happiness score" in descending order. If not, identify mismatches.

In [257]:
df['Computed_Rank'] = df['Happiness score'].rank(ascending=False, method='first').astype(int)

mismatches = len(df[df['RANK'] != df['Computed_Rank']])

mismatches

0